[submodule "Dachs/vendor/spdlog"]
	path = Dachs/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dachs/vendor/GLFW"]
	path = Dachs/vendor/GLFW
	url = https://github.com/TheCherno/glfw
